<div class="container">
  <form #templateForm="ngForm">

      <div class="creds">
          <p>
              <label for="login">Login</label>
              <input type="text" id="login" name="login" ngModel placeholder="Veuillez saisir votre Login">
          </p>

          <p>
              <label for="pass">Mot de passe</label>
              <input type="password" id="pass" name="pass" ngModel placeholder="Veuillez saisir votre mot de passe">
          </p>
      </div>


      <p class="error" innerHTML="{{error}}"> </p>

      <p>
          <button class="submit call-to-action" (click)="signIn()" type="submit">Connecter</button>
      </p>

  </form>

</div>