<div class="container">
    <div class="Header">
        <h1 class="title">Luxury Car Rental</h1>
        <h3 class="slogan">
            la plateforme la plus fiable pour la location de voitures de haute qualité et performantes
        </h3>
        <button class="call-to-action">Réservez aujourd'hui</button>

        <div class="head-pic">
            <img src="/assets/images/cars/mercedes.png" alt="mercedes">
        </div>
    </div>




    <div class="about" id="about">
        <span class="title2">A propos</span>
        <p>Luxury Car Rental est l'agence de location de voitures de luxe la plus respectable du pays.<br>
            Nous avons démarré nos activités en 2012, notre valeur nette a atteint 3 milliards de dollars en 2022.
            Nous rendons la location de voitures de luxe facile et accessible à tous.</p>
    </div>
    <div class="services" id="services">
        <span class="title2">Nos services</span>
        <div class="cars">
            <div class="img-container">
                <img class="img" src="/assets/images/cars/mercedes.png" alt="mercedes">
                <span class="img-desc">Obtenez le Mercedes GLE SUV et découvrez les performances et le luxe de Mercedes</span>
            </div>
            <div class="img-container">
                <img class="img" src="/assets/images/cars/mazda.png" alt="mazda">
                <span class="img-desc">Découvrez l'ingénierie japonaise avec notre Mazda 6</span>

            </div>
            <div class="img-container">
                <img class="img" src="/assets/images/cars/Jaguar-F-TYPE.png" alt="Jaguar-F-TYPE">
                <span class="img-desc">Essayez la performance britannique avec la voiture de sport Jaguar F-Type</span>

            </div>
            
        </div>
        <ul>
            <li>Location de voitures de luxe</li>
            <li>Livraison</li>
            <li>Garantie</li>
            <li>Assurance</li>
            <li>Service client de qualité</li>
        </ul>
    </div>
    <div class="contact" id="contact">
        <span class="title2">Contact</span>
        <ol class="contacts">
            <li class="contact-item"> <img class="contact-icon" src="/assets/images/contact/WA_icon.png" alt="WA_icon"> +216 00 111 222 </li>
            <li class="contact-item"> <img class="contact-icon" src="/assets/images/contact/FB_icon.png" alt="FB_icon"> LCR.official </li>
            <li class="contact-item"> <img class="contact-icon" src="/assets/images/contact/IG_icon.png" alt="IG_icon"> @LCR </li>
        </ol>
    </div>

</div>