<div class="container">
    <form #templateForm="ngForm" (ngSubmit)="onSubmit(templateForm)">

        <div class="personal">
            <div class="col-2">
                <p>
                    <label for="firstname">Prenom <samp class="required">*</samp> </label>
                    <input type="text" id="firstname" name="firstname" ngModel required placeholder="Veuillez saisir votre Prénom">
                </p>
                <p>
                    <label for="lastname">Nom <samp class="required">*</samp> </label>
                    <input type="text" id="lastname" name="lastname" ngModel placeholder="Veuillez saisir votre Nom">
                </p>
            </div>

            <p>
                <label for="email">Email <samp class="required">*</samp> </label>
                <input type="text" id="email" name="email" ngModel placeholder="Veuillez saisir votre Email">
            </p>

            <p>
                <label for="state">Date de naissance <samp class="required">*</samp> </label>
                <input type="date" class="form-control" min="1930-01-01" name="birthDate" id="birthDate" ngModel>
            </p>

            <p>
                <label for="address">Adresse <samp class="required">*</samp> </label>
                <input type="text" class="form-control" name="address" ngModel placeholder="Veuillez saisir votre Adresse">
            </p>

            <p>
                <label for="tel">Numéro de téléphone <samp class="required">*</samp> </label>
                <input type="text" class="form-control" name="tel" ngModel placeholder="Veuillez saisir votre Numéro de téléphone">
            </p>

        </div>

        <div class="creds">
            <p>
                <label for="login">Login <samp class="required">*</samp> </label>
                <input type="text" id="login" name="login" ngModel placeholder="Veuillez saisir votre Pseudo">
            </p>

            <p>
                <label for="pass">Mot de passe <samp class="required">*</samp> </label>
                <input type="password" id="pass" name="pass" ngModel placeholder="Veuillez saisir votre Mot de passe">
            </p>

            <p>
                <label for="pass-conf">Confirmez le mot de passe <samp class="required">*</samp> </label>
                <input type="password" id="pass-conf" name="pass-conf" ngModel placeholder="Veuillez confirmer votre Mot de passe">
            </p>
        </div>



        <p>
            <button class="submit call-to-action" type="submit">S'inscrire</button>
            <button class="submit call-to-action" type="reset">Réinitialiser</button>
        </p>
        <div>
        </div>

    </form>
</div>