$blue: rgb(109,201,255);

.wrapper {
    display: block;
    overflow-x: hidden;

    width: 100vw;
    height: 100%;
    
    background: $blue;
    background: linear-gradient(180deg, $blue 0%, rgba(74,188,255,0) 80%);

}

h1, h3 {
    display: flex;
    margin: 0;
    justify-content: center;
}
h1 {
    font-size: 6rem;
}
h3 {
    font-size: 2rem;
}