<nav class="navbar">
    <input class="checkbox" type="checkbox" name="" id="" />

    <div class="brand">Luxury Car Rental</div>
    <div class="nav-links">
        <a class="nav-link" [routerLink]="['/#']" routerLinkActive="router-link-active" >A propos</a>
        <a class="nav-link" [routerLink]="['/#']" routerLinkActive="router-link-active">Services</a>
    </div>
    <div class="nav-links-con">
        <a class="nav-link" [routerLink]="['/#']" routerLinkActive="router-link-active">Connexion</a>
        <a class="nav-link" [routerLink]="['/#']" routerLinkActive="router-link-active">Inscription</a>
    </div>

    <div class="mobile-nav-links">
        <a class="mobile-nav-link" [routerLink]="['/#']" routerLinkActive="router-link-active">A propos</a>
        <a class="mobile-nav-link" [routerLink]="['/#']" routerLinkActive="router-link-active">Services</a>
        <a class="mobile-nav-link" [routerLink]="['/#']" routerLinkActive="router-link-active">Connexion</a>
        <a class="mobile-nav-link" [routerLink]="['/#']" routerLinkActive="router-link-active">Inscription</a>
    </div>

    <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
    </div>
</nav>