@font-face {
    font-family: "Ginger Regular";
    src: local("ginger-regular"), url(./assets/fonts/ginger-regular.woff) format("truetype");
}
@font-face {
    font-family: "league-spartan";
    src: local("league-spartan"), url(./assets/fonts/league-spartan.bold.ttf) format("truetype");
}

* {
    font-family: 'Ginger Regular';
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin: 0;
}