//Colors
$black: black;
$white: white;
$rose: rgb(217, 2, 102);
$blue: rgb(109,201,255);

//Fonts
@font-face {
    font-family: "Ginger Regular";
    src: local("ginger-regular"), url(./assets/fonts/ginger-regular.woff) format("truetype");
}
@font-face {
    font-family: "league-spartan";
    src: local("league-spartan"), url(./assets/fonts/league-spartan.bold.ttf) format("truetype");
}

* {
    font-family: 'Ginger Regular';
    scroll-behavior: smooth;

}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin: 0;
}

.show {
  opacity: 1;
  top: 0;
}
.hide {
  opacity: 0.5;
  bottom: 100px;
}